<main *ngIf="!loading">
    <div class="flex gap-3 flex-column md:flex-row md:align-items-center md:justify-content-between mb-3">
        <div class="flex align-items-center gap-3">
            <button class="btn-icon btn-text" (click)="goBack()" *ngIf="selectedShelf.name !== ''">
                <i class="material-symbols-rounded">arrow_back</i>
            </button>
            <h1 class="headline-lg">
                {{ selectedShelf.name === '' ? 'Your Shelves' : selectedShelf.name }}
            </h1>
        </div>

        <div class="flex align-items-center">
            <button class="btn btn-filled">
                <i class="material-symbols-rounded">add</i>
                New Shelf
            </button>
        </div>
    </div>
    <div class="card-set grid-cols-4 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 xl:grid-cols-16" *ngIf="selectedShelf.name !== ''">
        <ng-container
            *ngFor="let book of selectedShelf.books; let index = index">
            <book-card
                [fromShelves]="true"
                [userX]="user"
                [book]="book"
                [shelves]="shelves"
                (updateShelves)="getShelves()"
                (removeFromShelf)="removeBookFromShelf(book.id)">
            </book-card>
        </ng-container>
    </div>

    <div class="card-set grid-cols-1 md:grid-cols-2 lg:grid-cols-4" *ngIf="selectedShelf.name === ''">
        <div class="shelf-card" *ngFor="let shelf of shelves" (click)="viewShelf(shelf)">
            <div class="images-container">
                <div class="image-container">
                    <img *ngIf="shelf.books.length > 0" [src]="shelf.books[0].cover" [alt]="shelf.books[0].title">
                </div>
                <div class="image-container">
                    <img *ngIf="shelf.books.length > 1" [src]="shelf.books[1].cover" [alt]="shelf.books[1].title">
                </div>
            </div>
            <div class="card-body">
                <span class="body-lg">
                    {{ shelf.name }}
                </span>
                <span class="body-sm m-0">
                    {{ shelf.books.length }} {{ shelf.books.length === 1 ? l('Book') : l('Book') + 's' }}
                </span>
            </div>
        </div>
    </div>
</main>

<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <div class="flex flex-column gap-3">
        <span class="text-center font-medium font-color-secondary">
            {{ 'Loading' | localize }}
        </span>
    </div>
</div>
