<div *ngIf="!loading" class="flex w-full">
    <!-- MENU -->
    <div
        [class.show-topbar-mobile]="showMenusMobile"
        class="topbar fixed align-items-center justify-content-between color-surface-2 elevation-1 px-1 md:px-3 w-full"
        style="top: 0; left: 0; z-index: 99999999; height: 56px;">
        <div class="flex align-items-center gap-3">
            <button class="btn-icon btn-text" (click)="GoToHome()">
                <img src="assets/android-chrome-512x512.png" alt="Logo" class="hidden md:flex" style="width: 40px;">
                <i class="material-symbols-rounded md:hidden">
                    arrow_back
                </i>
            </button>
            <span class="title-md hidden md:block" style="font-size: 18px">
                {{ book.title }}
            </span>
        </div>
        <div class="flex align-items-center gap-2 mr-3">
            <button class="btn-icon btn-text hidden md:flex" (click)="fullScreen()">
                <i class="material-symbols-rounded">
                    {{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}
                </i>
            </button>
            <button class="btn-icon btn-text" (click)="showSettings = !showSettings">
                <i class="material-symbols-rounded">
                    text_format
                </i>
            </button>
            <button class="btn-icon btn-text" (click)="toggleTocMenu()">
                <i class="material-symbols-rounded">
                    toc
                </i>
            </button>
            <button class="btn-icon btn-text" (click)="showNotes = !showNotes">
                <i class="material-symbols-rounded">
                    sticky_note_2
                </i>
            </button>
        </div>
    </div>
    <!-- /MENU -->

    <!-- READER -->
    <div
        class="swipe-container relative flex flex-1 transition-all transition-duration-200 transition-ease-in-out"
        [class.show-menu-mobile]="showMenusMobile"
        (touchend)="HandleSwipe()">
        <div id="prev-btn" class="block md:hidden h-full action"></div>
        <div class="swipe-element relative w-full transition-all transition-duration-200 transition-ease-in-out">
            <div id="viewer" (click)="HandleShowMenusMobile()" class="scroll-element w-full flex justify-content-center transition-all transition-duration-200 transition-ease-in-out"></div>
            <div class="flex md:hidden align-items-center justify-content-between p-2">
                <div class="w-full flex align-items-center">
                    <span class="body-md font-medium font-color-secondary">
                        {{ 'NextChapterIn' | localize }}
                        {{ totalCurrentPagesChapter.untilEnd }} {{ toUnderScore(l('Page')) }}{{ totalCurrentPagesChapter.untilEnd > 1 ? 's' : '' }}
                    </span>
                </div>
                <span class="body-md font-medium font-color-secondary">
                    {{ Floor(book.percentageRead) }}%
                </span>
            </div>
        </div>
        <div id="next-btn" class="block md:hidden h-full action"></div>
    </div>
    <!-- /READER -->

    <!-- NOTES -->
    <div *ngIf="showNotes" class="panel notes-panel"
         style="height:calc(100vh - 116px); margin-top:56px; margin-bottom: 60px;">
        <div class="panel-header">
            <span class="title-md">
                {{ 'Notes' | localize }}
            </span>

            <div class="flex align-items-center">
                <button class="btn-icon btn-text" matRipple (click)="newNote()">
                    <i class="material-symbols-rounded">
                        add_notes
                    </i>
                </button>
                <button class="btn-icon btn-text" matRipple (click)="showNotes = !showNotes">
                    <i class="material-symbols-rounded">
                        close
                    </i>
                </button>
            </div>
        </div>
        <div class="panel-content">
            <div class="w-full px-3 py-1 border-bottom" *ngIf="book.notes && book.notes.length > 0">
                <span class="title-sm font-medium">
                    {{ book.notes.length }} {{ 'Notes' | localize }}
                </span>
            </div>
            <div class="panel-item border-bottom" *ngFor="let note of book.notes">
                <div class="flex flex-column gap-3">
                    <form (ngSubmit)="updateBook()" *ngIf="edittingNoteId == note.id">
                        <m-input class="w-full" [name]="'Note'" [(value)]="note.note" *ngIf="edittingNoteId == note.id"
                                 [autofocus]="true"></m-input>
                    </form>
                    <span class="title-lg font-regular" *ngIf="edittingNoteId != note.id">
                        {{ note.note }}
                    </span>
                    <div class="flex align-items-center gap-2">
                        <button class="btn btn-tonal mt-1" matRipple *ngIf="edittingNoteId != note.id" (click)="edittingNoteId = note.id">
                            <i class="material-symbols-rounded">
                                edit
                            </i>
                            {{ 'Edit' | localize }}
                        </button>
                        <button class="btn btn-tonal mt-1" *ngIf="edittingNoteId == note.id" matRipple (click)="updateBook(); edittingNoteId = ''">
                            <i class="material-symbols-rounded">
                                save
                            </i>
                            {{ 'Save' | localize }}
                        </button>
                        <button class="btn-icon btn-text danger" matRipple (click)="edittingNoteId = ''; deleteNote(note)">
                            <i class="material-symbols-rounded">
                                delete
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /NOTES -->

    <!-- BOTTOM BAR -->
    <div [class.show-bottombar-mobile]="showMenusMobile"
         class="bottombar fixed flex flex-column w-full color-surface-0 p-3 py-3 md:py-1"
         style="bottom: 0; left: 0; z-index: 99999999">
        <div class="w-full align-items-center hidden md:flex">
            <span class="body-md font-medium font-color-secondary">
                {{ 'NextChapterIn' | localize }}
                {{ totalCurrentPagesChapter.untilEnd }} {{ toUnderScore(l('Page')) }}{{ totalCurrentPagesChapter.untilEnd > 1 ? 's' : '' }}
            </span>
        </div>
        <div class="flex align-items-center gap-3">
            <div class="progress-bar-container">
                <div class="progress-bar" [style]="{
                    'width': book.percentageRead + '%'
                }"></div>
                <div class="progress-bar-thumb" [style]="{
                    'left': book.percentageRead - 1 + '%'
                }"></div>
            </div>
            <div class="hidden md:flex align-items-center gap-3 w-max">
                <button class="btn-icon btn-text btn-sm" (click)="prevPage()">
                    <i class="material-symbols-rounded">
                        chevron_left
                    </i>
                </button>
                <span class="body-md font-medium font-color-secondary">
                    {{ Floor(book.percentageRead) }}%
                </span>
                <button class="btn-icon btn-text btn-sm" (click)="nextPage()">
                    <i class="material-symbols-rounded">
                        chevron_right
                    </i>
                </button>
            </div>
        </div>
    </div>
    <!-- /BOTTOM BAR -->
</div>

<div *ngIf="showDefinition"
     class="border-round-xl shadow color-surface-1 flex flex-column"
     [style]="{'position': 'absolute', 'top': position.top + 'px', 'left': position.left+ 'px', 'z-index': '999999999999', 'width': '350px'}">
    <div
        class="flex align-items-center justify-content-between border-none border-bottom-1 border-solid border-color p-2 px-3">
        {{ definition.word }}

        <button class="btn-icon" (click)="showDefinition = !showDefinition">
            <i class="material-symbols-rounded">
                close
            </i>
        </button>
    </div>

    <div class="flex flex-column gap-2 p-3" style="height: 220px; overflow-y: auto">
        <i class="font-regular text-sm text-color-secondary">{{ definition.phonetic }}</i>

        <div class="flex flex-column" *ngFor="let meaning of definition.meanings">
            <i class="text-color font-bold text-sm">{{ meaning.partOfSpeech }}</i>
            <div *ngFor="let definition of meaning.definitions; let index = index">
                    <span class="text-muted font-light pl-2 text-xs">
                        {{ index + 1 }}. {{ definition.definition }}
                    </span>
            </div>
        </div>
    </div>
</div>

<m-dialog
    [(visible)]="showToc"
    [showMask]="false"
    [header]="l('Index')"
    [width]="'400px'"
    [panel]="true"
    [height]="'calc(100vh - 120px)'"
    (visibleChange)="showToc = false">

    <div content class="flex max-h-full border-top px-0" id="tocIndex" style="height: calc(100vh - 190px); padding: 0 !important;">
        <div class="list-container w-full">
            <div *ngFor="let chapter of chapters">
                <div
                    class="list-item square" matRipple
                    [id]="chapter.id === book.currentChapter.id ? 'anchor' : ''"
                    [class.active]="chapter.id === book.currentChapter.id"
                    (click)="navigateToChapter(chapter)">

                    <div class="current-indicator" *ngIf="chapter.id === book.currentChapter.id"></div>

                    <div class="list-content">
                            <span class="list-title">
                                {{ chapter.label }}
                            </span>
                        <!--<div class="list-subtitle">
                            {{ 'Page' | localize }} {{ getPageOfChapter(chapter) }}
                        </div>-->
                    </div>
                </div>

                <div class="flex flex-column" *ngIf="chapter.subitems && chapter.subitems.length > 0">
                    <div
                        class="mat-ripple list-item square pl-7" matRipple
                        [class.active]="subItem.id === book.currentChapter.id"
                        [id]="subItem.id === book.currentChapter.id ? 'anchor' : ''"
                        *ngFor="let subItem of chapter.subitems"
                        (click)="navigateToChapter(subItem)">

                        <div class="current-indicator" *ngIf="subItem.id === book.currentChapter.id"></div>

                        <div class="list-content">
                            <span class="list-title">
                                {{ subItem.label }}
                            </span>
                            <!--<div class="list-subtitle">
                                {{ 'Page' | localize }} {{ getPageOfChapter(subItem) }}
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</m-dialog>

<m-dialog
    [(visible)]="showSettings"
    [showMask]="false"
    [header]="l('VisualizationSettings')"
    [width]="'400px'"
    [panel]="true"
    [height]="'calc(100vh - 120px)'"
    (visibleChange)="showSettings = false">

    <div content class="flex flex-column max-h-full border-top py-3 gap-5" style="height: calc(100vh - 190px);">
        <div class="w-full flex align-items-center justify-content-between mt-3 md:mt-0">
            <span class="flex flex-1 font-medium text-lg">
                {{ 'DarkTheme' | localize }}
            </span>

            <mat-slide-toggle
                [color]="'#A8C7FA'"
                [checked]="user.darkTheme"
                (change)="updateUser($event)"
            ></mat-slide-toggle>
        </div>

        <div class="form-group">
            <span class="text-base font-medium">
                {{ 'FontStyle' | localize }}
            </span>

            <div class="flex align-items-center gap-5">
                <div
                    class="font-box border p-3 border-round-lg flex align-items-center justify-content-center w-full cursor-pointer"
                    [class.border-primary]="user.fontFamily === 'trebuchet ms, sans-serif'"
                    (click)="user.fontFamily = 'trebuchet ms, sans-serif'; updateUser()">
                    <span class="text-2xl" style="font-family: 'trebuchet ms', sans-serif">
                        Aa
                    </span>
                </div>
                <div
                    class="font-box border p-3 border-round-lg flex align-items-center justify-content-center w-full cursor-pointer"
                    [class.border-primary]="user.fontFamily === 'serif'"
                    (click)="user.fontFamily = 'serif'; updateUser()">
                    <span class="text-2xl" style="font-family: 'times new roman', serif">
                        Aa
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <span class="text-base font-medium">
                {{ 'FontSize' | localize }}
            </span>

            <div class="flex align-items-center gap-5">
                <button
                    class="font-box color-surface-2 border p-3 border-round-lg flex align-items-center justify-content-center w-full cursor-pointer"
                    (click)="user.textSize = user.textSize - 2; updateUser()"
                    [disabled]="user.textSize === 10">
                    <i class="text-base material-symbols-rounded text-white">
                        title
                    </i>
                </button>
                <span class="text-base font-medium">
                    {{ user.textSize }}px
                </span>
                <button
                    class="font-box color-surface-2 border p-3 border-round-lg flex align-items-center justify-content-center w-full cursor-pointer"
                    (click)="user.textSize = user.textSize + 2; updateUser()"
                    [disabled]="user.textSize === 30">
                    <i class="text-xl material-symbols-rounded text-white">
                        title
                    </i>
                </button>
            </div>
        </div>
    </div>

</m-dialog>

<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <div class="flex flex-column gap-3">
        <div class="progress-bar-container">
            <div class="progress-bar" [className]="'progress-bar width-' + loadingProgress"></div>
        </div>
        <span class="text-center font-medium font-color-secondary">
            {{ loadingMessage }}
        </span>
    </div>
</div>
