<div *ngIf="!loading">
    <div id="prev-btn" style="position: fixed; top:0; left:0;z-index: 9999999;" class="block md:hidden h-full w-6"
         (click)="prevPage()">

    </div>
    <div id="next-btn" style="position: fixed; top:0; right:0;z-index: 9999999;" class="block md:hidden h-full w-6"
         (click)="nextPage()">

    </div>
    <div class="w-full md:w-8 shadow-inset" style="
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: calc(100% - 84px)">
        <div class="mx-3 pt-2" style="padding-bottom: 9rem">
            <div class="inline" *ngFor="let element of pages[book.currentPage].content">
                <p [innerHTML]="element.value" class="body-sm font-medium indent" [class.whitespace]="element.value.trim().length == 0" *ngIf="element.type === 'text'" (mouseup)="onMouseUp($event)"></p>
                <div *ngIf="element.type === 'image'" class="flex justify-content-center">
                    <img [src]="getImageByName(element.value)" alt="" style="height: 100%; width: 100%; max-width: 500px;">
                </div>
                <i [innerHTML]="element.value" *ngIf="element.type === 'italic'" (mouseup)="onMouseUp($event)"></i>
                <em class="font-light indent" *ngIf="element.type === 'em'" (mouseup)="onMouseUp($event)">
                    {{element.value}}
                </em>
                <blockquote *ngIf="element.type === 'bq'" class="text-center font-light indent" (mouseup)="onMouseUp($event)">
                    {{element.value}}
                </blockquote>
                <h1 *ngIf="element.type === 'heading1'" class="headline-sm font-bold text-center mb-2" (mouseup)="onMouseUp($event)">
                    {{element.value}}
                </h1>
                <h2 *ngIf="element.type === 'heading2'" class="headline-sm font-bold text-center mb-2" (mouseup)="onMouseUp($event)">
                    {{element.value}}
                </h2>
            </div>
        </div>
    </div>

    <div *ngIf="showDefinition"
         class="border-round-xl shadow color-surface-1 flex flex-column"
         [style]="{'position': 'absolute', 'top': position.top + 'px', 'left': position.left+ 'px', 'z-index': '999999999999', 'width': '350px'}">
        <div
            class="flex align-items-center justify-content-between border-none border-bottom-1 border-solid border-color p-2 px-3">
            {{definition.word}}

            <button class="btn-icon" (click)="showDefinition = !showDefinition">
                <i class="material-symbols-rounded">
                    close
                </i>
            </button>
        </div>

        <div class="flex flex-column gap-2 p-3" style="height: 220px; overflow-y: auto">
            <i class="font-regular text-sm text-color-secondary">{{definition.phonetic}}</i>

            <div class="flex flex-column" *ngFor="let meaning of definition.meanings">
                <i class="text-color font-bold text-sm">{{meaning.partOfSpeech}}</i>
                <div *ngFor="let definition of meaning.definitions; let index = index">
                    <span class="text-muted font-light pl-2 text-xs">
                        {{index + 1}}. {{definition.definition}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed flex flex-column w-full" style="bottom: 0; left: 0; z-index: 99999999">
        <div class="w-full p-3 py-1 color-surface-0 flex align-items-center">
            <span class="body-md font-medium font-color-secondary">
                {{ 'NextChapterIn' | localize }}
                {{getPagesUntilNextChapter()}} {{toUnderScore(l('Page'))}}{{getPagesUntilNextChapter() > 1 ? 's' : ''}}
            </span>
        </div>
        <div class="color-surface-0 w-full">
            <div class="flex align-items-center gap-3 p-2">
                <div class="flex align-items-center gap-2">
                    <button class="btn-icon btn-text" (click)="GoToHome()">
                        <i class="material-symbols-rounded">
                            arrow_back
                        </i>
                    </button>
                    <div class="dropdown" [class.open]="showToc">
                        <button class="btn-icon btn-text" (click)="toggleTocMenu()">
                            <i class="material-symbols-rounded">
                                list_alt
                            </i>
                        </button>
                        <div class="dropdown-content top left" id="toc">
                            <div *ngFor="let chapter of book.toc">
                                <a id="anchor" *ngIf="chapter.file === book.currentChapter.file"></a>
                                <div
                                    class="dropdown-item"
                                    [id]="chapter.file === book.currentChapter.file ? 'anchor' : ''"
                                    [class.active]="chapter.file === book.currentChapter.file"
                                    (click)="navigateToChapter(chapter)">
                                    {{chapter.title}}
                                </div>

                                <div class="flex flex-column pl-3" *ngIf="chapter.subItems.length > 0">
                                    <div
                                        class="dropdown-subitem"
                                        [class.active]="subItem.file === book.currentChapter.file"
                                        [id]="subItem.file === book.currentChapter.file ? 'anchor' : ''"
                                        *ngFor="let subItem of chapter.subItems"
                                        (click)="navigateToChapter(subItem)">
                                        {{subItem.title}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn-icon btn-text" (click)="showSearchResults = !showSearchResults">
                        <i class="material-symbols-rounded">
                            search
                        </i>
                    </button>
                </div>
                <div class="flex flex-column gap-2 w-full">
                    <div class="progress-bar-container bg-secondary mt-0">
                        <div class="progress-bar" [style.width]="book.percentageRead + '%'"></div>
                    </div>
                    <div class="flex w-full align-items-center justify-content-between">
                        <span class="text-xs md:text-sm w-auto body-md font-medium font-color-secondary">
                            {{book.currentChapter.title}}
                        </span>
                        <span class="body-md font-medium font-color-secondary">
                            {{book.currentPage + 1}} / {{pages.length}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" [class.panel--open]="showSearchResults">
    <div class="panel__header">
        <div class="panel__header__title">
            {{ 'Search' | localize }}
        </div>
        <div class="btn-icon btn-text" (click)="showSearchResults = false">
            <i class="material-symbols-rounded">
                close
            </i>
        </div>
    </div>

    <div class="panel__content">
        <form class="flex m-2 flex-column gap-2" (submit)="getSearchResults()">
            <m-input class="w-full" [(value)]="searchTerm" [icon]="'search'" (onClear)="searchResults = []" [showClear]="true" placeholder="{{ 'Search' | localize }}..."></m-input>

            <span *ngIf="searchResults.length > 0">
                {{searchResults.length}} {{ 'ResultsInBook' | localize }}
            </span>
        </form>


        <div *ngIf="searchResults.length === 0" class="flex flex-column gap-2">
            <span class="text-center font-medium font-color-secondary">
                {{ 'NoResults' | localize }}
            </span>
        </div>

        <div class="flex flex-column" *ngIf="searchResults.length > 0" style="overflow-y: auto">
            <div class="panel__content__item flex-row gap-3" *ngFor="let items of searchResults" (click)="goToPage(items.page)">
                <i class="material-symbols-rounded">
                    search
                </i>

                <div class="flex flex-column gap-2">
                    <div class="flex flex-column gap-1">
                        <span class="title-lg">
                            {{items.chapter}}
                        </span>
                        <span class="title-sm font-regular">
                           {{ 'Page' | localize }} {{items.page + 1}}
                        </span>
                    </div>
                    <span class="title-md panel__content__item__value" [innerHTML]="items.content"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <div class="flex flex-column gap-3">
        <div class="progress-bar-container">
            <div class="progress-bar" [className]="'progress-bar width-' + loadingProgress"></div>
        </div>
        <span class="text-center font-medium font-color-secondary">
            {{loadingMessage}}
        </span>
    </div>
</div>
