.card {
    .edit-btn {
        display: none;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        .edit-btn {
            display: flex;
        }
    }
}

@media screen and (max-width: 768px) {
    .card {
        .edit-btn {
            display: none !important;
        }
    }
}