.card,
.shelf-card
    border-radius: 24px
    padding: 16px
    background-color: $color-surface-1
    color: $color-on-surface
    font-family: $font-family
    display: flex
    transition: transform .3s cubic-bezier(.2,0,0,1),background-color .3s cubic-bezier(.2,0,0,1)
    cursor: pointer
    -webkit-tap-highlight-color: transparent
    font-variation-settings: "GRAD" 0
    //border: 1px solid rgba($color-utility-outline, .2)

    .card-body
        padding-top: 8px
        display: flex
        flex-direction: column
        z-index: 99

        .card-title
            font-size: 14px
            font-weight: 600
            margin: 0
            color: $color-on-surface
            text-transform: capitalize
            -webkit-box-orient: vertical
            -webkit-line-clamp: 2
            display: -webkit-box
            overflow: hidden
            max-width: 172px

        .card-text
            font-size: 14px
            margin: 0
            color: $color-on-surface-variant
            text-transform: capitalize

    &:hover
        background-color: $color-secondary-container
        color: $color-on-secondary-container
        border-color: transparent

        // make image darker
        .dropdown
            display: block

        img:before
            background-color: rgba(0, 0, 0, 0.5)

    &:active
        transform: scale(0.97)
        outline: initial

.card
    flex-direction: column
    background-color: transparent
    border-radius: 8px
    padding: 12px

    &:hover
        background-color: $color-surface-1
        color: $color-on-surface

    img
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15)
        height: auto
        width: 100%
        vertical-align: middle


.book-img
    border-radius: 4px
    height: 100%
    width: auto
    position: relative
    box-shadow: 0px 1px 2px 0px rgba(0, 4, 7, 0.2), 0px 1px 3px 1px rgba(0, 4, 7, 0.15)
.last-book-img
    border-radius: 4px
    height: 100%
    width: 25%
    position: relative
    box-shadow: 0px 1px 2px 0px rgba(0, 4, 7, 0.2), 0px 1px 3px 1px rgba(0, 4, 7, 0.15)

@media (max-width: 600px)
    .card
        min-width: 100%
        padding: 12px

    .last-book-img
        width: 50%

.shelf-card
    flex-direction: row
    max-height: 100px

    .card-body
        min-height: auto
        padding: 0

    .images-container
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        position: relative
        margin-right: 24px

        .image-container,
        .last-image-container
            border-radius: 12px
            height: 100%
            width: 100%
            background-color: $color-surface-2
            z-index: 2

            img
                border-radius: 12px
                height: 100%
                width: 100%
                position: relative
                box-shadow: 0px 1px 2px 0px rgba(0, 4, 7, 0.2), 0px 1px 3px 1px rgba(0, 4, 7, 0.15)

            &:last-child
                height: 73%
                position: absolute
                bottom: 0
                right: -10px
                z-index: 1
