*
    box-sizing: border-box

html
    overflow-x: hidden

body
    margin: 0
    padding: 0
    background-color: $color-background
    color: $color-on-surface
    overflow-x: hidden
    font-family: $font-family
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 20px
    letter-spacing: 0.5px

// scrollbar
::-webkit-scrollbar
    width: 8px
    border-radius: 25px 25px 25px 25px

/* Track */
::-webkit-scrollbar-track
    background: transparent
    border-radius: 25px 25px 25px 25px

/* Handle */
::-webkit-scrollbar-thumb
    background: $color-surface-variant
    border-radius: 25px 25px 25px 25px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: $color-inverse-on-surface

.divider
    width: 100%
    height: 3px
    background-color: $color-utility-outline
    margin: 10px 0
    border-radius: 48px

.divider-vertical
    width: 3px
    height: 100%
    background-color: $color-utility-outline
    margin: 0 10px
    border-radius: 48px

m-divider
    display: flex
    width: calc(100% - 50px)
    align-items: center
    margin: 16px 0
    justify-content: center

.card-set,
.card-set-2
    $min-row-height: 320px
    $stacked-col-max-height: 198px
    display: grid
    grid-gap: 8px
    gap: 8px
    grid-template-columns: repeat(12, 1fr)
    grid-auto-flow: row
    grid-auto-rows: minmax(auto,auto)

    .card
        grid-column: span 2
        vertical-align: middle
        width: 100%
        height: 100%

.card-set-2
    grid-template-columns: repeat(6, 1fr)

.container
    width: 100%
    max-width: 1294px
    margin: 0 auto
    padding: 0 16px

    @media screen and (max-width: 1294px)
        padding: 0 16px

    @media screen and (max-width: 768px)
        padding: 0 16px

.container-fluid
    width: 100%
    margin: 0 auto
    padding: 0 16px

    @media screen and (max-width: 1294px)
        padding: 0 16px

    @media screen and (max-width: 768px)
        padding: 0 16px

    @media screen and (max-width: 600px)
        padding: 0 16px

@media screen and (max-width: 1294px)
    .card-set
        grid-template-columns: repeat(8,1fr)
    .card-set-2
        grid-template-columns: repeat(4,1fr)

    .card
        grid-column: span 1

@media screen and (max-width: 768px)
    .card-set
        grid-template-columns: repeat(6,1fr)

    .card
        grid-column: span 1

@media screen and (max-width: 600px)
    .card-set
        grid-template-columns: repeat(4,1fr)
    .card-set-2
        grid-template-columns: 1fr

    .card
        grid-column: span 1

.grid-cols-1
    grid-template-columns: repeat(1, minmax(0, 1fr))
.grid-cols-2
    grid-template-columns: repeat(2, minmax(0, 1fr))
.grid-cols-3
    grid-template-columns: repeat(3, minmax(0, 1fr))
.grid-cols-4
    grid-template-columns: repeat(4, minmax(0, 1fr))
.grid-cols-5
    grid-template-columns: repeat(5, minmax(0, 1fr))
.grid-cols-6
    grid-template-columns: repeat(6, minmax(0, 1fr))
.grid-cols-7
    grid-template-columns: repeat(7, minmax(0, 1fr))
.grid-cols-8
    grid-template-columns: repeat(8, minmax(0, 1fr))

@media screen and (min-width: 768px)
    .md\:grid-cols-1
        grid-template-columns: repeat(1, minmax(0, 1fr))
    .md\:grid-cols-2
        grid-template-columns: repeat(2, minmax(0, 1fr))
    .md\:grid-cols-3
        grid-template-columns: repeat(3, minmax(0, 1fr))
    .md\:grid-cols-4
        grid-template-columns: repeat(4, minmax(0, 1fr))
    .md\:grid-cols-5
        grid-template-columns: repeat(5, minmax(0, 1fr))
    .md\:grid-cols-6
        grid-template-columns: repeat(6, minmax(0, 1fr))
    .md\:grid-cols-7
        grid-template-columns: repeat(7, minmax(0, 1fr))
    .md\:grid-cols-8
        grid-template-columns: repeat(8, minmax(0, 1fr))

// class for lg:grid-cols-2
@media screen and (min-width: 1294px)
    .lg\:grid-cols-1
        grid-template-columns: repeat(1, minmax(0, 1fr))
    .lg\:grid-cols-2
        grid-template-columns: repeat(2, minmax(0, 1fr))
    .lg\:grid-cols-3
        grid-template-columns: repeat(3, minmax(0, 1fr))
    .lg\:grid-cols-4
        grid-template-columns: repeat(4, minmax(0, 1fr))
    .lg\:grid-cols-5
        grid-template-columns: repeat(5, minmax(0, 1fr))
    .lg\:grid-cols-6
        grid-template-columns: repeat(6, minmax(0, 1fr))
    .lg\:grid-cols-7
        grid-template-columns: repeat(7, minmax(0, 1fr))
    .lg\:grid-cols-8
        grid-template-columns: repeat(8, minmax(0, 1fr))

// class for sm:grid-cols-2
@media screen and (min-width: 600px)
    .sm\:grid-cols-1
        grid-template-columns: repeat(1, minmax(0, 1fr))
    .sm\:grid-cols-2
        grid-template-columns: repeat(2, minmax(0, 1fr))
    .sm\:grid-cols-3
        grid-template-columns: repeat(3, minmax(0, 1fr))
    .sm\:grid-cols-4
        grid-template-columns: repeat(4, minmax(0, 1fr))
    .sm\:grid-cols-5
        grid-template-columns: repeat(5, minmax(0, 1fr))
    .sm\:grid-cols-6
        grid-template-columns: repeat(6, minmax(0, 1fr))
    .sm\:grid-cols-7
        grid-template-columns: repeat(7, minmax(0, 1fr))
    .sm\:grid-cols-8
        grid-template-columns: repeat(8, minmax(0, 1fr))

