$color-white: #fff
$color-on-background: #e3e3e3
$color-background: #1f1f1f
$color-on-surface: #e3e3e3
$color-on-surface-variant: #c4c7c5
$color-surface-0: #1f1f1f
$color-surface-variant: #444746
$color-inverse-surface: #e3e3e3
$color-inverse-on-surface: #303030
$color-surface-1: #28292a
$color-surface-2: #2d2f31
$color-surface-3: #333438
$color-surface-4: #34363a
$color-surface-5: #383a3e
$color-primary: #a8c7fa
$color-primary-80: #a8c7fa
$color-primary-30: #0842a0
$color-primary-20: #062e6f
$color-neutral-10: #1f1f1f
$color-neutral-90: #e3e3e3
$color-on-primary: #062e6f
$color-primary-container: #0842a0
$color-on-primary-container: #d3e3fd
$color-secondary: #7fcfff
$color-on-secondary: #035
$color-secondary-container: #004a77
$color-on-secondary-container: #c2e7ff
$color-tertiary-container: #0f5223
$color-on-tertiary-container: #c4eed0
$color-utility-error: #f2b8b5
$color-utility-on-error: #601410
$color-utility-outline: #8e918f
$color-extensions-do-container: #b4e5f2
$color-extensions-on-do-container: #073550
$color-extensions-dont-container: #f2b8b5
$color-extensions-on-dont-container: #601410
$color-extensions-caution-container: #e2e290
$color-extensions-on-caution-container: #473e00
$color-copy-link-tooltip: #f2f2f2
$color-danger: #f44336
$color-on-danger: #fff
$color-warning: #ff9800
$color-on-warning: #fff

$elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%)
$elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%)
$elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%)

$font-family-thin: 'Google Sans Thin', sans-serif
$font-family-light: 'Google Sans Light', sans-serif
$font-family-light-italic: 'Google Sans Light Italic', sans-serif
$font-family: 'Google Sans', sans-serif
$font-family-medium: 'Google Sans Medium', sans-serif
$font-family-bold: 'Google Sans Bold', sans-serif
$font-family-italic: 'Google Sans Italic', sans-serif
$font-family-bold-italic: 'Google Sans Bold Italic', sans-serif
$font-family-black: 'Google Sans Black', sans-serif
$font-family-black-italic: 'Google Sans Black Italic', sans-serif

.color-white
    color: $color-white

.color-on-background
    color: $color-on-background

.color-background
    background-color: $color-background

.color-on-surface
    color: $color-on-surface

.color-on-surface-variant
    color: $color-on-surface-variant

.color-surface-0
    background-color: $color-surface-0

.color-surface-variant
    background-color: $color-surface-variant

.color-inverse-surface
    color: $color-inverse-surface

.color-inverse-on-surface
    color: $color-inverse-on-surface

.color-surface-1
    background-color: $color-surface-1

.color-surface-2
    background-color: $color-surface-2

.color-surface-3
    background-color: $color-surface-3

.color-surface-4
    background-color: $color-surface-4

.color-surface-5
    background-color: $color-surface-5

.color-primary
    color: $color-primary

.color-primary-80
    color: $color-primary-80

.color-primary-30
    color: $color-primary-30

.color-primary-20
    color: $color-primary-20

.color-neutral-10
    background-color: $color-neutral-10

.color-neutral-90
    color: $color-neutral-90

.color-on-primary
    color: $color-on-primary

.color-primary-container
    background-color: $color-primary-container

.color-on-primary-container
    color: $color-on-primary-container

.color-secondary
    color: $color-secondary

.color-on-secondary
    color: $color-on-secondary

.color-secondary-container
    background-color: $color-secondary-container

.color-on-secondary-container
    color: $color-on-secondary-container

.color-tertiary-container
    background-color: $color-tertiary-container

.color-on-tertiary-container
    color: $color-on-tertiary-container

.color-utility-error
    color: $color-utility-error

.color-utility-on-error
    color: $color-utility-on-error

.color-utility-outline
    color: $color-utility-outline

.color-extensions-do-container
    background-color: $color-extensions-do-container

.color-extensions-on-do-container
    color: $color-extensions-on-do-container

.color-extensions-dont-container
    background-color: $color-extensions-dont-container

.color-extensions-on-dont-container
    color: $color-extensions-on-dont-container

.color-extensions-caution-container
    background-color: $color-extensions-caution-container

.color-extensions-on-caution-container
    color: $color-extensions-on-caution-container

.color-copy-link-tooltip
    background-color: $color-copy-link-tooltip

.color-danger
    color: $color-danger

.color-on-danger
    color: $color-on-danger

.color-warning
    color: $color-warning

.color-on-warning
    color: $color-on-warning

.elevation-1
    box-shadow: $elevation-1

.elevation-2
    box-shadow: $elevation-2

.elevation-3
    box-shadow: $elevation-3

.border-top
    border-top: 1px solid $color-utility-outline

.border-bottom
    border-bottom: 1px solid $color-utility-outline

.border-left
    border-left: 1px solid $color-utility-outline

.border-right
    border-right: 1px solid $color-utility-outline

.border
    border: 1px solid $color-utility-outline

