<div class="sidebar" [class.open]="showSidebar" *ngIf="!loading"
    [class.hidden]="router.url.includes('reader') || router.url.includes('login')">

    <button class="btn-icon btn-text btnmenu" matRipple (click)="showSidebar = !showSidebar">
        <i class="material-symbols-rounded">menu</i>
    </button>

    <div class="section flex flex-row md:flex-column gap-3">
        <a class="sidebar-item h-full md:h-auto" [routerLink]="['/books']" [routerLinkActive]="['active']">
            <i class="material-symbols-rounded">library_books</i>
            <span class="sidebar-item-text">
                {{ 'Library' | localize }}
            </span>
        </a>
        <a class="sidebar-item h-full md:h-auto" [routerLink]="['/shelves']" [routerLinkActive]="['active']">
            <i class="material-symbols-rounded">shelves</i>
            <span class="sidebar-item-text">{{ 'Shelves' | localize }}</span>
        </a>
    </div>

    <m-menu [options]="menuOptions">
        <div
            menubtn 
            matRipple
            class="dropbtn border-circle p-0 align-items-center justify-content-center cursor-pointer">
            <img [src]="user.profilePicture" *ngIf="user.profilePicture != ''" alt="Profile Picture"
                class="border-circle" style="width: 40px; height: 40px">
            <i class="material-symbols-rounded" *ngIf="user.profilePicture == ''">account_circle</i>
        </div>
    </m-menu>
</div>

<div class="overlay" *ngIf="showProfileMenu" (click)="showProfileMenu = !showProfileMenu"></div>

<div [style]="showSidebar ? 'margin-left: 80px;transition: all 0.2s ease-in-out 0s;' : 'margin-left: 0px;transition: all 0.2s ease-in-out 0s;'">
    <router-outlet></router-outlet>
</div>