<div class="menu-container" [class.open]="expanded">
    <div (click)="expanded = !expanded">
        <ng-content select="[menubtn]"></ng-content>
    </div>

    <div 
        class="menu color-surface-2 py-2" 
        [class.bottom-0]="positionY == 'top'"
        [class.top-0]="positionY == 'bottom'"
        [class.left-0]="positionX == 'left'"
        [class.right-0]="positionX == 'right'"
        >
        <div class="menu-item" [class.disabled]="item.disabled" *ngFor="let item of options">
            <i class="material-symbols-rounded" *ngIf="item.icon">
                {{item.icon}}
            </i>
            {{item.label}}
        </div>
    </div>
</div>