<input type="file" #fileInput class="hidden" name="epub" id="epub" accept=".epub" (change)="Upload($event)">
<button class="fab" (click)="fileInput.click()">
    <i class="material-symbols-rounded">cloud_upload</i>
</button>

<div
    class="fixed top-0 left-0 w-full flex color-surface-2 elevation-1 p-2 align-items-center gap-2"
    *ngIf="showSearch"
    style="z-index: 9999999999999;">
    <m-input class="w-full flex-1" [inputType]="'text'" [icon]="'search'" [name]="'search'" [label]="'Search'"
             [(value)]="searchFilter" [showClear]="true"></m-input>
    <button class="btn-icon btn-text" (click)="showSearch = false">
        <i class="material-symbols-rounded">close</i>
    </button>
</div>

<main *ngIf="!loading">
    <div class="flex align-items-center justify-content-between mb-3">
        <div class="flex align-items-center gap-3">
            <img src="assets/android-chrome-512x512.png" alt="Logo" class="" style="width: 50px; height: 50px;">
            <h1 class="headline-lg">
                {{ 'MyBooks' | localize }}
            </h1>
            <m-input class="w-18rem hidden md:block" [inputType]="'text'" [icon]="'search'" [name]="'search'" [label]="'Search'"
                     [(value)]="searchFilter" [showClear]="true"></m-input>
            <button class="btn-icon btn-text btn-sm md:hidden" (click)="showSearch = true">
                <i class="material-symbols-rounded">search</i>
            </button>
        </div>

        <span class="text-base font-color-secondary font-medium">
            {{books.length}} {{ 'Book' | localize }}{{books.length > 1 ? 's' : ''}}
        </span>
    </div>

    <!--<svg style="opacity: 0.2; margin: 20px 0" width="100%" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"
         *ngIf="lastReadBooks.length > 0">
        <pattern _ngcontent-sjp-c18="" id="a" width="91" height="8" patternUnits="userSpaceOnUse">
            <g _ngcontent-sjp-c18="" clip-path="url(#clip0_2426_11367)">
                <path _ngcontent-sjp-c18=""
                      d="M114 4c-5.067 4.667-10.133 4.667-15.2 0S88.667-.667 83.6 4 73.467 8.667 68.4 4 58.267-.667 53.2 4 43.067 8.667 38 4 27.867-.667 22.8 4 12.667 8.667 7.6 4-2.533-.667-7.6 4s-10.133 4.667-15.2 0S-32.933-.667-38 4s-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0"
                      stroke="#E1E3E1" stroke-linecap="square"></path>
            </g>
        </pattern>
        <rect _ngcontent-sjp-c18="" width="100%" height="100%" fill="url(#a)"></rect>
    </svg>-->

    <div class="card-set">
        <ng-container
            *ngFor="let book of books; let index = index">
            <a
                *ngIf="searchFilter.trim() === '' || book.title.toLowerCase().includes(searchFilter.toLowerCase())"
                class="card gap-3 h-full no-underline relative"
                longPress (mouseLongPress)="selectedEpup = book; selectedEpup.showMenu = true; showBookMenu()"
                [routerLink]="['/books/', book.id]">
                <img class="h-full border-round-lg" [src]="book.cover" alt="{{book.title}}">
                <div class="card-body flex-column justify-content-between w-full pt-0">
                    <div class="flex justify-content-between">
                        <div class="flex flex-column gap-2">
                            <span class="card-title">{{book.title}}</span>
                            <div class="p-2 py-1 gap-2 border-round-md color-surface-2 font-medium flex align-items-center justify-content-center w-max text-sm">
                                <i class="material-symbols-rounded text-sm">
                                    layers
                                </i>
                                {{book.pages}}
                            </div>
                        </div>
                        <circle-progress
                            [percent]="book.percentageRead" style="width: 41px; height: 41px;"
                        ></circle-progress>
                    </div>

                    <span class="card-text">{{book.creator}}</span>
                </div>
            </a>
        </ng-container>
    </div>
</main>

<div class="menu-container" [class.open]="selectedEpup.showMenu">
    <div class="overlay" (click)="selectedEpup.showMenu = false"></div>
    <div class="menu">
        <div class="menu-header">
            <span class="font-medium max-w-18rem">
                {{selectedEpup.title}}
            </span>
            <button class="btn-icon btn-text" (click)="selectedEpup.showMenu = false">
                <i class="material-symbols-rounded">close</i>
            </button>
        </div>
        <div class="menu-item" (click)="showBookDialog = true">
            <i class="material-symbols-rounded">edit</i>
            {{ 'Edit' | localize }}
        </div>
        <div class="menu-item text-red-500" (click)="deleteBook($event, selectedEpup)">
            <i class="material-symbols-rounded text-red-500">delete</i>
            {{ 'Delete' | localize }}
        </div>
    </div>
</div>

<m-dialog
    [(visible)]="showBookDialog"
    [header]="selectedEpup.title"
    [width]="'800px'"
    (visibleChange)="onBookDialogClose()">

    <div content>
        <div class="tab-container mb-3">
            <div class="tab" [class.active]="bookCreationStepsIndex == 0" (click)="bookCreationStepsIndex = 0">
                <div class="tab-content">
                    <i class="material-symbols-rounded">info</i>
                    <span>{{ 'Info' | localize }}</span>
                </div>
            </div>
            <div class="tab" [class.active]="bookCreationStepsIndex == 1" (click)="bookCreationStepsIndex = 1">
                <div class="tab-content">
                    <i class="material-symbols-rounded">shelves</i>
                    <span>{{ 'Shelves' | localize }}</span>
                </div>
            </div>
        </div>

        <div [ngSwitch]="bookCreationStepsIndex">
            <div *ngSwitchCase="0" class="grid">
                <div class="col-6 md:col-3">
                    <img class="last-book-img h-full w-full" [src]="selectedEpup.cover" alt="{{selectedEpup.title}}"/>
                </div>
                <div class="col-12 md:col-9">
                    <div class="flex flex-column gap-3">
                        <m-input
                            class="w-full"
                            [inputType]="'text'"
                            [name]="'title'"
                            [label]="'Title'"
                            [(value)]="selectedEpup.title"></m-input>

                        <div class="flex align-items-center gap-3">
                            <m-input
                                class="w-full"
                                [inputType]="'text'"
                                [name]="'creator'"
                                [label]="'Creator'"
                                [(value)]="selectedEpup.creator"></m-input>

                            <m-input
                                class="w-full"
                                [inputType]="'text'"
                                [name]="'publisher'"
                                [label]="'Publisher'"
                                [(value)]="selectedEpup.publisher"></m-input>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="1">
                <div class="list-container">
                    <div
                        class="list-item justify-content-between"
                        *ngFor="let shelf of shelves">
                        <div class="flex align-items-center gap-3">
                            <input
                                type="checkbox"
                                [id]="shelf.name"
                                [checked]="checkIfHasBook(shelf, selectedEpup)"
                                (change)="toggleShelf(shelf, selectedEpup); updateShelves()">
                            <label [for]="shelf.name" class="font-medium">{{shelf.name}}</label>
                        </div>

                        <button class="btn-icon text-btn" (click)="deleteShelf(shelf)">
                            <i class="material-symbols-rounded">delete</i>
                        </button>
                    </div>
                    <div class="divider"></div>
                    <div class="flex align-items-center justify-content-between">
                        <m-input
                            class="w-full"
                            [inputType]="'text'"
                            [name]="'newShelfName'"
                            [label]="'ShelfName'"
                            [showClear]="true"
                            [(value)]="newShelf.name"></m-input>

                        <button class="btn-icon btn-filled ml-3" (click)="addShelf()">
                            <i class="material-symbols-rounded">add</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div footer>
        <button class="btn btn-outlined danger" (click)="deleteBook($event, selectedEpup)">
            <i class="material-symbols-rounded">delete</i>
            {{ 'Delete' | localize }}
        </button>
        <button class="btn btn-outlined" (click)="onBookDialogClose()">
            <i class="material-symbols-rounded">close</i>
            {{ 'Close' | localize }}
        </button>
        <button
            class="btn-icon btn-filled"
            *ngIf="isBookCreation"
            [disabled]="bookCreationStepsIndex === 0"
            (click)="bookCreationStepsIndex = bookCreationStepsIndex - 1">
            <i class="material-symbols-rounded">chevron_left</i>
        </button>
        <button
            class="btn-icon btn-filled"
            *ngIf="isBookCreation && bookCreationStepsIndex !== 1"
            (click)="bookCreationStepsIndex = bookCreationStepsIndex + 1">
            <i class="material-symbols-rounded">chevron_right</i>
        </button>
        <button class="btn btn-filled" *ngIf="bookCreationStepsIndex === 1 || !isBookCreation"
                (click)="createOrUpdateBook()">
            <i class="material-symbols-rounded">save</i>
            {{ 'Save' | localize }}
        </button>
    </div>
</m-dialog>

<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <div class="flex flex-column gap-3">
        <div class="progress-bar-container">
            <div class="progress-bar" [className]="'progress-bar width-' + loadingProgress"></div>
        </div>
        <span class="text-center">{{loadingMessage | localize}}</span>
    </div>
</div>
