<input type="file" #fileInput class="hidden" name="epub" id="epub" accept=".epub" (change)="Upload($event)">
<button class="fab" (click)="fileInput.click()">
    <i class="material-symbols-rounded">cloud_upload</i>
</button>
<main *ngIf="!loading">
    <div class="flex align-items-center justify-content-between mb-3">
        <div class="flex align-items-center gap-3">
            <img src="assets/android-chrome-512x512.png" alt="Logo" class="" style="width: 50px; height: 50px;">
            <h1 class="headline-lg">
                {{ 'YourLibrary' | localize }}
            </h1>
        </div>
    </div>

    <!-- Last Read special section -->
    <div class="flex flex-column" *ngIf="lastReadBooks.length > 0">
        <h3 class="headline-sm">
            {{ 'ContinueReading' | localize }}
        </h3>

        <div class="card-set-2 mt-3">
            <div class="card align-items-center md:align-items-start flex-column md:flex-row" *ngFor="let lastReadBook of lastReadBooks">
                <div class="grid">
                    <div class="col-12 md:col-5">
                        <img class="last-book-img h-auto md:h-full w-12rem md:w-full" [src]="lastReadBook.cover" alt="{{lastReadBook.title}}"/>
                    </div>

                    <div class="col-12 md:col-7">
                        <div class="flex flex-column justify-content-between gap-3 col-12 md:col-6 px-0 md:px-3 h-auto md:h-full w-full">
                            <div class="flex flex-column gap-3">
                                <div class="flex flex-column gap-2" id="bookInfo">
                                    <h3 class="title-lg">
                                        {{lastReadBook.title}}
                                    </h3>
                                    <div class="flex align-items-center gap-3">
                                        <span class="text-sm">{{lastReadBook.creator}}</span>
                                        <span class="text-xs">·</span>
                                        <span class="text-sm">{{lastReadBook.publisher}}</span>
                                    </div>
                                </div>

                                <div id="bookProgress">
                                    <div class="flex align-items-center justify-content-between">
                                        <span class="text-sm">{{getDateFromTimestamp(lastReadBook.lastRead) | date: 'short'}}</span>
                                        <span class="text-sm">{{Round(lastReadBook.percentageRead)}}%</span>
                                    </div>
                                    <div class="progress-bar-container">
                                        <div class="progress-bar" [style.width]="lastReadBook.percentageRead + '%'"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex align-items-center gap-3" id="actions">
                                <button class="btn btn-filled" [routerLink]="['/reader/', lastReadBook.id]">
                                    <i class="material-symbols-rounded">play_arrow</i>
                                    <span>{{ 'Continue' | localize }}</span>
                                </button>
                                <button class="btn-icon btn-outlined"
                                        (click)="showBookDialog = true; selectedEpup = lastReadBook">
                                    <i class="material-symbols-rounded">edit</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <svg style="opacity: 0.2; margin: 20px 0" width="100%" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"
         *ngIf="lastReadBooks.length > 0">
        <pattern _ngcontent-sjp-c18="" id="a" width="91" height="8" patternUnits="userSpaceOnUse">
            <g _ngcontent-sjp-c18="" clip-path="url(#clip0_2426_11367)">
                <path _ngcontent-sjp-c18=""
                      d="M114 4c-5.067 4.667-10.133 4.667-15.2 0S88.667-.667 83.6 4 73.467 8.667 68.4 4 58.267-.667 53.2 4 43.067 8.667 38 4 27.867-.667 22.8 4 12.667 8.667 7.6 4-2.533-.667-7.6 4s-10.133 4.667-15.2 0S-32.933-.667-38 4s-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0"
                      stroke="#E1E3E1" stroke-linecap="square"></path>
            </g>
        </pattern>
        <rect _ngcontent-sjp-c18="" width="100%" height="100%" fill="url(#a)"></rect>
    </svg>

    <div class="card-set">
        <ng-container
            *ngFor="let book of books; let index = index">
            <a
                class="card h-full no-underline relative"
                [routerLink]="['/reader/', book.id]"
                *ngIf="index >= maxElementsPerSize">
                <img class="book-img" [src]="book.cover" alt="{{book.title}}">
                <div class="card-body justify-content-between">
                    <div class="flex flex-column">
                        <span class="card-title">{{book.title}}</span>
                        <!--<span class="card-text">{{book.creator}}</span>
                        <span class="card-text">{{book.publisher}}</span>-->
                    </div>
                    <svg style="opacity: 0.2; margin: 10px 0" width="100%" height="8" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <pattern _ngcontent-sjp-c18="" id="a" width="91" height="8" patternUnits="userSpaceOnUse">
                            <g _ngcontent-sjp-c18="" clip-path="url(#clip0_2426_11367)">
                                <path _ngcontent-sjp-c18=""
                                      d="M114 4c-5.067 4.667-10.133 4.667-15.2 0S88.667-.667 83.6 4 73.467 8.667 68.4 4 58.267-.667 53.2 4 43.067 8.667 38 4 27.867-.667 22.8 4 12.667 8.667 7.6 4-2.533-.667-7.6 4s-10.133 4.667-15.2 0S-32.933-.667-38 4s-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0"
                                      stroke="#E1E3E1" stroke-linecap="square"></path>
                            </g>
                        </pattern>
                        <rect _ngcontent-sjp-c18="" width="100%" height="100%" fill="url(#a)"></rect>
                    </svg>
                    <div class="flex align-items-center justify-content-between">
                        <span class="card-text">{{getDateFromTimestamp(book.lastRead) | date: 'short'}}</span>
                        <span class="card-text">{{Round(book.percentageRead)}}%</span>
                    </div>

                    <div class="flex align-items-center justify-content-end gap-2 mt-2">
                        <button class="btn-icon btn-filled btn-sm" [routerLink]="['/reader/', book.id]">
                            <i class="material-symbols-rounded">play_arrow</i>
                        </button>
                        <button class="btn-icon btn-outlined btn-sm"
                                (click)="editBook($event, book)">
                            <i class="material-symbols-rounded">edit</i>
                        </button>
                    </div>
                </div>
            </a>
        </ng-container>
    </div>
</main>

<m-dialog
    [(visible)]="showBookDialog"
    [header]="selectedEpup.title"
    [width]="'800px'"
    (visibleChange)="onBookDialogClose()">

    <div content>
        <div class="tab-container mb-3">
            <div class="tab" [class.active]="bookCreationStepsIndex == 0" (click)="bookCreationStepsIndex = 0">
                <div class="tab-content">
                    <i class="material-symbols-rounded">info</i>
                    <span>{{ 'Info' | localize }}</span>
                </div>
            </div>
            <div class="tab" [class.active]="bookCreationStepsIndex == 1" (click)="bookCreationStepsIndex = 1">
                <div class="tab-content">
                    <i class="material-symbols-rounded">shelves</i>
                    <span>{{ 'Shelves' | localize }}</span>
                </div>
            </div>
        </div>

        <div [ngSwitch]="bookCreationStepsIndex">
            <div *ngSwitchCase="0" class="grid">
                <div class="col-6 md:col-3">
                    <img class="last-book-img h-full w-full" [src]="selectedEpup.cover" alt="{{selectedEpup.title}}"/>
                </div>
                <div class="col-12 md:col-9">
                    <div class="flex flex-column gap-3">
                        <m-input
                            class="w-full"
                            [inputType]="'text'"
                            [name]="'title'"
                            [label]="'Title'"
                            [(value)]="selectedEpup.title"></m-input>

                        <div class="flex align-items-center gap-3">
                            <m-input
                                class="w-full"
                                [inputType]="'text'"
                                [name]="'creator'"
                                [label]="'Creator'"
                                [(value)]="selectedEpup.creator"></m-input>

                            <m-input
                                class="w-full"
                                [inputType]="'text'"
                                [name]="'publisher'"
                                [label]="'Publisher'"
                                [(value)]="selectedEpup.publisher"></m-input>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="1">
                <div class="list-container">
                    <div
                        class="list-item justify-content-between"
                        *ngFor="let shelf of shelves">
                        <div class="flex align-items-center gap-3">
                            <input
                                type="checkbox"
                                [id]="shelf.name"
                                [checked]="checkIfHasBook(shelf, selectedEpup)"
                                (change)="toggleShelf(shelf, selectedEpup); updateShelves()">
                            <label [for]="shelf.name" class="font-medium">{{shelf.name}}</label>
                        </div>

                        <button class="btn-icon text-btn" (click)="deleteShelf(shelf)">
                            <i class="material-symbols-rounded">delete</i>
                        </button>
                    </div>
                    <div class="divider"></div>
                    <div class="flex align-items-center justify-content-between">
                        <m-input
                            class="w-full"
                            [inputType]="'text'"
                            [name]="'newShelfName'"
                            [label]="'ShelfName'"
                            [showClear]="true"
                            [(value)]="newShelf.name"></m-input>

                        <button class="btn-icon btn-filled ml-3" (click)="addShelf()">
                            <i class="material-symbols-rounded">add</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div footer>
        <button class="btn btn-outlined" (click)="onBookDialogClose()">
            <i class="material-symbols-rounded">close</i>
            {{ 'Close' | localize }}
        </button>
        <button
            class="btn-icon btn-filled"
            *ngIf="isBookCreation"
            [disabled]="bookCreationStepsIndex === 0"
            (click)="bookCreationStepsIndex = bookCreationStepsIndex - 1">
            <i class="material-symbols-rounded">chevron_left</i>
        </button>
        <button
            class="btn-icon btn-filled"
            *ngIf="isBookCreation && bookCreationStepsIndex !== 1"
            (click)="bookCreationStepsIndex = bookCreationStepsIndex + 1">
            <i class="material-symbols-rounded">chevron_right</i>
        </button>
        <button class="btn btn-filled" *ngIf="bookCreationStepsIndex === 1 || !isBookCreation"
                (click)="createOrUpdateBook()">
            <i class="material-symbols-rounded">save</i>
            {{ 'Save' | localize }}
        </button>
    </div>
</m-dialog>

<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <div class="flex flex-column gap-3">
        <div class="progress-bar-container">
            <div class="progress-bar" [className]="'progress-bar width-' + loadingProgress"></div>
        </div>
        <span class="text-center">{{loadingMessage | localize}}</span>
    </div>
</div>
