<input type="file" #fileInput class="hidden" name="epub" id="epub" accept=".epub" (change)="Upload($event)">
<button class="fab" (click)="fileInput.click()">
    <i class="material-symbols-rounded">cloud_upload</i>
</button>

<div
    class="fixed slidedown animation-duration-200 top-0 left-0 w-full flex color-surface-2 elevation-1 p-2 align-items-center gap-2"
    *ngIf="showSearch"
    style="z-index: 9999999999999;">
    <m-input class="w-full flex-1" [inputType]="'text'" [icon]="'search'" [name]="'search'" [label]="'Search'"
             [(value)]="searchFilter" [showClear]="true"></m-input>
    <button class="btn-icon btn-text" (click)="showSearch = false">
        <i class="material-symbols-rounded">close</i>
    </button>
</div>

<main *ngIf="!loading">
    <div class="flex align-items-center justify-content-between mb-3">
        <div class="flex align-items-center gap-3">
            <img src="assets/android-chrome-512x512.png" alt="Logo" class="" style="width: 50px; height: 50px;">
            <h1 class="headline-lg">
                {{ 'MyBooks' | localize }}
            </h1>
            <m-input class="w-18rem hidden md:block" [inputType]="'text'" [icon]="'search'" [name]="'search'" [label]="'Search'"
                     [(value)]="searchFilter" [showClear]="true"></m-input>
            <button class="btn-icon btn-text btn-sm md:hidden" (click)="showSearch = true">
                <i class="material-symbols-rounded">search</i>
            </button>
        </div>

        <span class="text-base font-color-secondary font-medium">
            {{books.length}} {{ 'Book' | localize }}{{books.length > 1 ? 's' : ''}}
        </span>
    </div>

    <div class="card-set grid-cols-4 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 xl:grid-cols-16">
        <ng-container
            *ngFor="let book of books">
            <book-card 
                *ngIf="bookSearch(book)"
                [userX]="user"
                [book]="book"
                [shelves]="shelves"
                (onBookChanged)="getEpubsFromFirestore()"
                (updateShelves)="updateShelves()">
            </book-card>
        </ng-container>
    </div>
</main>

<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <div class="flex flex-column gap-3">
        <div class="progress-bar-container">
            <div class="progress-bar" [className]="'progress-bar width-' + loadingProgress"></div>
        </div>
        <span class="text-center">{{loadingMessage | localize}}</span>
    </div>
</div>
